<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Pose Classification</title>
</head>
<body>
    <video id="videoElement" width="640" height="480" autoplay></video>

    <script>
        let videoElement;
        let frames = [];

        function startCamera() {
            videoElement = document.getElementById('videoElement');

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        videoElement.srcObject = stream;

                        // Start sending frames automatically
                        setInterval(sendFrames, 1000); // Adjust the interval as needed
                    })
                    .catch(function (error) {
                        console.log('Error accessing the camera: ', error);
                    });
            }
        }

        function sendFrames() {
            frames = [];

            if (videoElement && videoElement.srcObject) {
                const stream = videoElement.srcObject;
                const track = stream.getVideoTracks()[0];
                const imageCapture = new ImageCapture(track);

                // Capture a single frame
                imageCapture.grabFrame()
                    .then(function (imageBitmap) {
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        canvas.width = imageBitmap.width;
                        canvas.height = imageBitmap.height;
                        context.drawImage(imageBitmap, 0, 0);
                        canvas.toBlob(function (blob) {
                            frames.push(blob);

                            // Send the captured frame to the server
                            sendFramesToServer();
                        }, 'image/jpeg', 0.9);
                    })
                    .catch(function (error) {
                        console.log('Error capturing frame: ', error);
                    });
            }
        }

        function sendFramesToServer() {
            const formData = new FormData();
            frames.forEach(function (frame, index) {
                formData.append('frames', frame, `frame_${index}.jpg`);
            });

            fetch('/machine/classify_pose_real_time/', {
                method: 'POST',
                body: formData
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    console.log('Labels:', data.labels);
                })
                .catch(function (error) {
                    console.log('Error sending frames to the server: ', error);
                });
        }

        // Start the camera immediately when the page loads
        startCamera();
    </script>
</body>
</html>
